<!-- <div class="modal-body" style="width:500px;margin-top:150px">
  <h4>Add Item</h4>
  <form [formGroup]="updateColumnForm">
    <table>
      <tr>
        <td>
          <label>Column Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Column Name">
        </td>
        <td>
          <label>Length</label>
          <input type="number" class="form-control" formControlName="length" placeholder="Length">
        </td>

        <td><label>Null</label>
          <input type="checkbox" class="form-control" formControlName="null" placeholder="Column Name"></td>
        <td>

      </tr>
      <tr>
        <td>
          <label>Type</label>
          <select class="form-control" formControlName="type">
            <option [value]="i" *ngFor="let type of comboBox?.type let i = index">{{type}}</option>
          </select></td>
        <td>
          <label>Keys</label>
          <select class="form-control" formControlName="key">
            <option [value]="i" *ngFor="let key of comboBox?.keys let i = index">{{key}}</option>
          </select>
        </td>
        <td>
          <label>Default</label>
          <select class="form-control" formControlName="default">
            <option [value]="i" *ngFor="let key of comboBox?.defaults let i = index">{{key}}</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-primary" *ngIf="Data.update" (click)="updateColumn()">update column</button>
      <button class="btn btn-dark mt-1" *ngIf="Data.new" (click)="saveColumn()"> <i class="fa fa-plus"></i>Save</button>
    </div>

  </form>
  <div> -->
    <div class="modal-content">
        <div class="modal-header">
          <h4 id="modal-basic-title" class="modal-title">Edit Variable</h4><button (click)="bsModalRef.hide();" type="button" aria-label="Close"
            class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
                <div class="form-group">
            <label>Variable Name</label>
            <input class="form-control" formControlName="name" placeholder="Variable Name" >
        </div>
            <div class="form-group">
            <label>Type</label>
            <select class="form-control" formControlName="type">
                <option value="0">---Select---</option>
                <option *ngFor="let option of options" [value]="option.value">
                    {{option.label}}
                </option>
            </select>
        </div>
            <div class="form-group">
            <label>Parse</label>
            <select class="form-control" formControlName="parse" formControlName="parse">
                <option value="0">---Select---</option>
                <option *ngFor="let option of parse" [value]="option.value">
                    {{option.label}}
                </option>
            </select>
        </div>
            <div formGroupName="validator" class="form-group">
                <div class="form-group">
                <div>Min</div>
                <input class="form-control" formControlName="min" placeholder="Min">
            </div>
            <div class="form-group">
                <label>Max</label>
                <input class="form-control" formControlName="max" placeholder="Max">
            </div>
                <div class="form-group">
                <label>Regex</label>
                <input class="form-control" formControlName="regex" placeholder="Regex">
            </div>


            </div>
        </form>
        </div>
        <div class="modal-footer text-center">
          
            <button class="btn btn-primary" *ngIf="variable" (click)="update()" [disabled]="!form.valid"><i class="fa fa-edit"></i>update</button>
            <button class="btn btn-dark mt-1" *ngIf="!variable" (click)="save()" [disabled]="!form.valid"> <i class="fa fa-plus"></i>Save</button>
          </div>
      </div>