
canvas{
    border: 1px solid black;
    background-image: url(http://lathonez.com/angular2-signaturepad-demo/assets/sign-here.png);
    background-repeat: no-repeat;
      background-position-y: 95%;
  }
